p, .h1, h1 {
	margin-bottom: 0px;
}
.first-block {
    background: url('/kontseptsiya/img/first.jpg') no-repeat center center;
    background-size: auto;
    height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.Ko-centered {
    max-width: 1020px;
    padding-top: 340px;
    margin: 0 auto;
}
.Ko-h1 {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 52px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.1px;
	color: #f9f9fa;
	text-align: center;
}
.Ko-color {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 52px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: 0.1px;
	color: #c33d00;
	text-align: center;
}
.Ko-sub {
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.23;
	letter-spacing: 0.05px;
	color: #f9f9fa;
	padding-top: 40px;
	text-align: center;
}
.Ko-next {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.02px;
	color: #ffffff;
	padding-top: 48px;
	text-align: center;
}
.Ko-main {
    background-attachment: scroll;
    background-color: #f2f2f2;
    min-height: 100vh;
    background-attachment: fixed;
    padding-bottom: 128px;
}
@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.Ko-down {
	text-align: center;
	padding-top: 80px;
	position: relative;
	animation: jump 5s infinite;
}
.Ko-first {
	max-width: 970px;
	height: auto;
	margin: 0 auto;
}
.Ko-safety {
	max-width: 970px;
	margin: 0 auto;
}
.Ko-title {
	font-family: 'Open Sans', sans-serif;
	font-size: 29px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.69;
	letter-spacing: 0.2px;
	color: #1b202f;
	margin-bottom: 0px;
}
.Ko-title span {
	color: #c33d00;
}
.Ko-bottom-title {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.02px;
	color: #000000;
	padding-top: 16px;
}
.Ko-1 {
	max-width: 570px;
	margin-right: 16px;
	height: 470px;
	background: url(/kontseptsiya/img/1.png) no-repeat center;
}
.Ko-2 {
	max-width: 570px;
	margin-left: 16px;
	height: 470px;
	background: url(/kontseptsiya/img/2.png) no-repeat center;
}
.Ko-3 {
	max-width: 570px;
	margin-right: 16px;
	height: 470px;
	background: url(/kontseptsiya/img/3.png) no-repeat center;
}
.Ko-4 {
	max-width: 570px;
	margin-left: 16px;
	height: 470px;
	background: url(/kontseptsiya/img/4.png) no-repeat center;
}
.Ko-1-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #f9f9fa;
	margin-bottom: 0px;
	padding-top: 194px;
	text-align: center;
}
.Ko-1-button, .v-view {
	font-family: 'Open Sans', sans-serif;
	padding-top: 8px;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #f9f9fa;
	text-align: center;
	cursor: pointer;
}
.v-view:hover {
	border-bottom: 2px solid #ffffff;
	max-width: 116px;
	padding-bottom: 6px;
	margin: 0 auto;
}
.Ko-1-button:hover {
	border-bottom: 2px solid #ffffff;
	max-width: 150px;
	padding-bottom: 6px;
	margin: 0 auto;
}
.Ko-1-button span {
	color: #c33d00;
	text-align: center;
}
.Ko-1-container {
	padding-top: 144px;
}
.Ko-2-container {
	padding-top: 30px;
}
.Ko-photos-title {
	text-shadow: 1px 2px 2px #c33d0033;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	margin-bottom: 0px;
}
.Ko-photos-sub {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #a1a7b8;
	margin-bottom: 0px;
	padding-top: 8px;
	max-width: 570px;
}
.Ko-big {
	margin-top: 48px;
	text-align: center;
	background: url('/kontseptsiya/img/big-1.png') no-repeat center;
	height: 586px;
}
.Ko-big-2 {
	text-align: center;
	background: url('/kontseptsiya/img/2-big.png') no-repeat center;
	height: 586px;
}
.Ko-big-3 {
	margin-top: 48px;
	text-align: center;
	background: url('/kontseptsiya/img/3-big.png') no-repeat center;
	height: 586px;
}
.Ko-big-4 {
	margin-top: 48px;
	text-align: center;
	background: url('/kontseptsiya/img/4-big.png') no-repeat center;
	height: 586px;
}
.Ko-big-5 {
	margin-top: 30px;
	text-align: center;
	background: url('/kontseptsiya/img/5-big.png') no-repeat center;
	height: 586px;
}
.Ko-big-6 {
	margin-top: 56px;
	text-align: center;
	background: url('/kontseptsiya/img/6-big.png') no-repeat center;
	height: 586px;
}
.Ko-big-3 p {
	text-shadow: 1px 2px 4px #00000040;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 586px;
	letter-spacing: normal;
	color: #f1f2fc;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.Ko-mini-back {
	background: url('/kontseptsiya/img/1-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-2 {
	background: url('/kontseptsiya/img/2-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-mini-back-3 {
	background: url('/kontseptsiya/img/3-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-4 {
	background: url('/kontseptsiya/img/4-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-mini-back-5 {
	background: url('/kontseptsiya/img/5-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-6 {
	background: url('/kontseptsiya/img/6-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-mini-back-7 {
	background: url('/kontseptsiya/img/7-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-8 {
	background: url('/kontseptsiya/img/8-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-mini-back-9 {
	background: url('/kontseptsiya/img/9-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-10 {
	background: url('/kontseptsiya/img/10-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-mini-back-11 {
	background: url('/kontseptsiya/img/11-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-12 {
	background: url('/kontseptsiya/img/12-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-mini-back-13 {
	background: url('/kontseptsiya/img/13-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-right: 16px;
}
.Ko-mini-back-14 {
	background: url('/kontseptsiya/img/14-mini.png') no-repeat center;
	height: 410px;
	margin: 0 auto;
	margin-left: 16px;
}
.Ko-back-title {
	text-shadow: 1px 2px 4px #00000040;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	line-height: 410px;
	letter-spacing: normal;
	color: #f1f2fc;
	margin-bottom: 0px;
	text-align: center;
}
.Ko-small-top {
	margin-top: 30px;
}
.Ko-kontsept {
	max-width: 770px;
	margin: 0 auto;
	padding-top: 144px;
	padding-bottom: 104px;
}
.Ko-kontsept-2 {
	max-width: 770px;
	margin: 0 auto;
}
.Ko-text-1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	color: #000000;
	margin-bottom: 0px;
}
.Ko-text-2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: #1b202f;
	padding-top: 32px;
}
.Ko-text-3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	color: #000000;
	margin-bottom: 0px;
}
.Ko-text-4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: #1b202f;
	padding-top: 40px;
}
.Ko-text-5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: #1b202f;
	padding-top: 80px;
}